<%- include('layout/header', { title: 'TwiDDer - Login', isNarrow: true })%>

<h1>Login</h1>
<% if (locals.isLogin) { %>
    <p><%= locals.userName%> You are already login, <a href="/">Click</a> to Home Page</p>
<% } else { %>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="input-username" placeholder="Please input your username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="input-password" placeholder="Please input your password">
        </div>
        <button type="submit" class="btn btn-primary" id="btn-submit">Login</button>
        &nbsp;
        <a href="/register">Register</a>
    </form>

    <script>
        $(function() {
            var $inputUserName = $('#input-username')
            var $inputPassword = $('#input-password')
            $('#btn-submit').click(function(e) {
                e.preventDefault()
                const userName = $inputUserName.val()
                const password = $inputPassword.val()

                ajax.post('/api/user/login', {
                    userName,
                    password
                }, function(err, data) {
                    if (err) {
                        alert(err)
                        return
                    }

                    var redirectUrl = $.query.get('url') || '/'
                    location.href = redirectUrl
                })
            })
        })
    </script>
<% } %>

<%- include('layout/footer')%>